a {
  cursor: pointer;
}

.text-thin {
  font-weight: 300;
}

.main-container {
  margin-top: 65px;
}

.alerts-container {
  position: fixed;
  top: 65px;
  right: 10px;
  width: 33vw;

  .alert-item {
    /* cursor: pointer; */
    box-shadow: 0px 2px 5px #DDD;

    i.fa {
      /* color: #FFF; */
    }
  }
}

.navbar {
  -webkit-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}

.app-spinner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255,255,255, 0.3);

  &.ng-enter {
    /* animation: zoomIn 250ms; */
  }
  &.ng-leave {
    animation: zoomOut 250ms;
  }

  .ai-indicator {
    zoom: 6;
  }
}
